<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8"/>
  <title>vue-howler-button</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="vue-howler-button.browser.js"></script>
  <style>
    label {
      font-weight: bold;
      margin: 8px;
    }

    label:after {
      content: ":";
    }

    .styled {
      border: 4px dashed red;
      background: aqua;
    }
  </style>
</head>
<body>

<h1>VueHowlerButton</h1>

<p>see <a href="https://gitlab.com/winniehell/vue-howler-button">https://gitlab.com/winniehell/vue-howler-button</a></p>

<div id="app">
  <p>
    <label>localStorage.isSoundEnabled</label>
    <code>"{{ isSoundEnabled }}"</code>

    <button type="button" @click="clearStorage">clear</button>
  </p>

  <p>
    <label>default (autoplay = false, loop = false)</label>
    <sound-button :src="src"/>
  </p>

  <p>
    <label>autoplay = true</label>
    <sound-button :src="src" :autoplay="true"/>
  </p>

  <p>
    <label>loop = true</label>
    <sound-button :src="src" :loop="true"/>
  </p>

  <p>
    <label>styled</label>
    <sound-button :src="src" class="styled"/>
  </p>
</div>

<script>
  // eslint-disable-next-line no-undef,no-new
  new Vue({
    el: '#app',

    data () {
      return {
        isSoundEnabled: null,
        src: ['sound.ogg', 'sound.mp3'],
      }
    },

    mounted () {
      setInterval(() => {
        this.isSoundEnabled = localStorage && localStorage.isSoundEnabled
      }, 100)
    },

    methods: {
      clearStorage () {
        if (localStorage) {
          localStorage.removeItem('isSoundEnabled')
        }
      },
    },
  })
</script>
</body>
</html>
