<template>
  <component
    :is="tagName"
    v-bind="attributes"
    @click="onClick"
    :disabled="isLoading"
  >
    <template v-if="isLoading">{{ loadingText }}</template>
    <template v-else-if="isPlaying">{{ playingText }}</template>
    <template v-else>{{ stoppedText }}</template>
  </component>
</template>

<script>
  import { Howl } from 'howler'

  export default {
    name: 'sound-button',

    inheritAttrs: false,

    props: {
      tagName: {
        required: false,
        type: String,
        default: 'button',
      },

      src: {
        required: true,
        type: Array,
      },

      loadingText: {
        required: false,
        type: String,
        default: 'loading…',
      },

      playingText: {
        required: false,
        type: String,
        default: 'playing',
      },

      stoppedText: {
        required: false,
        type: String,
        default: 'stopped',
      },

      autoplay: {
        required: false,
        type: Boolean,
        default: false,
      },

      loop: {
        required: false,
        type: Boolean,
        default: false,
      },

      storageKey: {
        required: false,
        type: String,
        default: 'isSoundEnabled',
      },
    },

    data () {
      return {
        isLoading: false,
        isPlaying: false,
      }
    },

    computed: {
      attributes () {
        return {
          type: 'button',
          ...this.$attrs,
        }
      },
    },

    mounted () {
      const {
        src,
        loop,
        onend,
        onload,
        onplay,
        onstop,
        storageKey,
      } = this

      const isSoundEnabled = localStorage &&
        storageKey &&
        (localStorage[storageKey] !== 'false')
      const autoplay = this.autoplay && isSoundEnabled

      this.isLoading = autoplay

      this.howl = new Howl({
        src,
        autoplay,
        loop,
        onend,
        onload,
        onplay,
        onstop,
      })
    },

    methods: {
      onClick () {
        const { storageKey, howl } = this

        if (this.isPlaying) {
          howl.stop()

          if (localStorage && storageKey) {
            localStorage[storageKey] = false
          }
        } else {
          howl.play()
          this.isLoading = howl.state() !== 'loaded'

          if (localStorage && storageKey) {
            localStorage[storageKey] = true
          }
        }
      },

      onend () {
        this.isPlaying = false
      },

      onload () {
        this.isLoading = false
      },

      onplay () {
        this.isPlaying = true
      },

      onstop () {
        this.isPlaying = false
      },
    },
  }
</script>
